
Task 1/.ipynb_checkpoints/Prediction using Supervised ML-checkpoint.ipynb
Task 2/.ipynb_checkpoints/Prediction using Unsupervised ML-checkpoint.ipynb
Task 3/.ipynb_checkpoints/Exploratory Data Analysis - Retail-checkpoint.ipynb
